:root {
	--color-primary: #1c315e;
	--color-primary-light: #227c70;
	--color-light-1: #88a47c;
	--color-light-2: #e6e2c3;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

body {
	min-height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(./bg.jpg) no-repeat center center/cover;

	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: calc(100% - 50%);
}

h2 {
	font-size: 3rem;
	color: var(--color-primary);
}

.btn {
	border: none;
	font: inherit;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.4rem;
	padding: 1.5rem 0;
	width: 100%;
	margin-top: 2rem;
	background-color: var(--color-primary);
	color: var(--color-light-2);
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s;
}

.btn:hover {
	filter: brightness(110%);
}

.countdown-container {
	background-color: var(--color-light-2);
	padding: 3rem;
	border-radius: 3px;
	display: none;
	flex-direction: column;
	gap: 3rem;
}

.form {
	padding: 2rem 0;
}

.form-group {
	display: grid;
	gap: 0.5rem;
	margin-bottom: 2rem;
}

.form-group label {
	font-size: 1.4rem;
	color: var(--color-primary);
}

.form-group input {
	padding: 1.5rem;
	border: 1px solid var(--color-light-1);
	border-radius: 5px;
}

.form-group input:focus {
	outline: none;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
}

.countdown-timer {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
	justify-items: center;
}

.countdown-timer li {
	display: grid;
}

.countdown-timer span:first-child {
	font-size: 4rem;
	font-weight: 500;
}

.countdown-timer span:last-child {
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
}

.countdown-container--complete {
	/* display: flex; */
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 40vh;
}

.countdown-container--complete p {
	font-size: 2rem;
}

.countdown-container--complete h2 {
	animation: myAnim 3s ease-in infinite normal forwards;
}

.show-container {
	display: flex;
}

@keyframes myAnim {
	0% {
		/* opacity: 0.8; */
		transform: scale(0.2);
		color: rgb(168, 29, 29);
	}

	25% {
		transform: scale(1.4);
		color: rgb(168, 96, 29);
	}

	50% {
		transform: scale(1.4);
		color: rgb(168, 29, 156);
	}

	75% {
		transform: scale(1.4);
		color: rgb(168, 29, 94);
	}

	100% {
		transform: scale(0.2);
		color: rgb(168, 131, 29);
	}
}

@media (max-width: 900px) {
	.container {
		width: calc(100% - 20%);
	}
}

@media (max-width: 500px) {
	.container {
		width: calc(100% - 10%);
	}
}
